This file will be clean in future.
Right now, it is the list of used, unused, testing modules that i installed.

alabaster==0.7.12
Babel==2.11.0
click==8.1.3
colorama==0.4.6
Cython==0.29.33
docutils==0.12
glcontext==2.3.7
glfw==2.5.5
imagesize==1.4.1
imgui==1.4.1
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.1
mock==5.0.1
moderngl==5.7.2
moderngl-window==2.4.2
multipledispatch==0.6.0
numpy==1.23.4
opencv-python==4.6.0.66
Pillow==9.3.0
pyassimp==4.1.3
pygame==2.1.3.dev8
pygame-builder==0.2.1
pygame-gui==0.6.5
pyglet==2.0.0
PyGLM==2.6.0
Pygments==2.14.0
pyimgui-wheels==2.0.1
PyOpenGL==3.1.6
pypandoc==1.4
pyrr==0.10.3
PySDL2==0.9.14
pysdl2-dll==2.24.2
python-i18n==0.3.9
pytz==2022.7
PyWavefront==1.3.3
scikit-learn==1.1.3
scipy==1.9.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==1.4.8
threadpoolctl==3.1.0
